@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
    background: linear-gradient(135deg, white 22%, #ab0505 21%, #910101 51%, #910101 100%);

}

i {
    font-size: 30px;
    color: white;

}

form.d-flex button {
    width: 100%;

}

.titleservice h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.titleutility h1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.icons i {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.card i {
    color: black;
}

.card {
    margin-bottom: 2rem;
}

.card,
.card-img-top {
    border-radius: 20px;
}

.cpaas h1,
h3 {
    margin-bottom: 2rem;
}


.cpaas p {
    font-weight: 600;
}


.why h1 {
    margin-bottom: 2rem;
}

.why p {
    font-weight: 600;
}

.sobre h2 {
    margin-bottom: 1.5rem;
}

.sobre p {
    font-weight: 600;
}

hr {
    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    width: 80%;

}

footer {
    color: grey;
    background-color: #212121;
    padding: 1rem;
    text-decoration: none;
}

footer a {
    text-decoration: none;
    margin-inline: 1px;

}

footer p {
    margin-top: 1.5rem;
}

.col button[type=button] {
    left: 5rem;
    cursor: pointer;
    width: 50%;
    margin-top: 2.5rem;
    height: 45px;
    border: none;
    border-radius: 32px;
    background: #ab0505;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

.col button[type=button]:hover {
    background-color: #910101;
}

.carousel-item {
    transition: transform 1.6s ease-in-out;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
    transition: opacity 0s 1.6s;
}

.carousel-inner img {
    border-radius: 20px;
    margin-bottom: 1rem;

}

.btn {
    cursor: pointer;
    width: 60%;
    height: 40px;
    border: none;
    border-radius: 32px;
    background: #ab0505;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: #910101;
}

#btnSwitch:hover {
    background-color: #910101;
}